#clockcontainer{
    position: relative;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 1%;
    height: 22%;
    top: 29%;
    left: 49.5%;
    
}

#minute{
    width: 1%;
    height: 32%;
    top: 18%;
    left: 49.5%;
    opacity: 0.8;
    
    

}

#second{
    width: 1%;
    height: 41%;
    top: 9%;
    left: 49.5%;
    

}